<h3 class="card-header">Resetear Contraseña</h3>
<div class="row justify-content-center">
  <div class="col-6">
    <div *ngIf="tokenStatus == TokenStatus.Validating">
      Validating token...
    </div>
    <div *ngIf="tokenStatus == TokenStatus.Invalid" class="my-5 text-center">
      La validación del token falló, si el token ha caducado, puede obtener uno nuevo en la página <a
        routerLink="../forgot-password">olvide mi contraseña</a>.
    </div>
    <form *ngIf="tokenStatus == TokenStatus.Valid" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <mat-form-field appearance="fill" class="inputform mt-3">
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput formControlName="password" required>
          <mat-error *ngIf="f.password.errors">Contraseña es requerida</mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill" class="inputform mt-3">
          <mat-label>Confirma tu contraseña</mat-label>
          <input type="password" matInput formControlName="confirmPassword" required>
          <mat-error *ngIf="f.confirmPassword.errors && f.confirmPassword.errors.required">Confirmar contraseña es requerida</mat-error>
          <mat-error *ngIf="f.confirmPassword.errors && f.confirmPassword.errors.mustMatch">Las contraseñas deben coincidir</mat-error>
        </mat-form-field>
      </div>
      <div class="form-group text-center">
        <button mat-raised-button color="primary" mat-raised-button color="primary"  [disabled]="loading">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Resetear Contraseña
        </button>
        <a routerLink="../login" class="btn btn-link">Cancel</a>
      </div>
    </form>

  </div>
</div>
